// Order Button
.ubereats {
  background-color: $black;
  border: 3px solid $uber;
  border-radius: 1em;
  box-shadow: $box-shadow;
  position: fixed;
  height: 100px;
  width: 100px;
  top: 2rem;
  right: 2rem;
  transition: $transition;

  @media (max-width: $breakpoint-med) {
    height: 64px;
    width: 64px;
    top: unset;
    bottom: 1.5rem;
    right: 1.5rem;
  }

  &:hover {
    box-shadow: $box-shadow-hover;

    &::after {
      opacity: 1;
    }
  }

  img {
    max-width: 120%;
  }

  &::after {
    content: 'ここから\A注文できます';
    white-space: pre;
    background: linear-gradient(270deg, rgba($brown, 0.8) 14%, rgba($brown, 0) 100%);
    position: absolute;
    opacity: 0;
    width: 150px;
    padding: 0.5em 1em;
    text-align: right;
    right: 103px;
    top: 50%;
    transform: translateY(-50%);
    transition: $transition;

    @media (max-width: $breakpoint-med) {
      display: none;
    }
  }
}

.top-right {
  @media (max-width: $breakpoint-med) {
    display: none;
  }
}

.bottom-right {
  display: none;
  @media (max-width: $breakpoint-med) {
    display: contents;
  }
}

// Sushi Square Card
.square-img {
  max-height: 235px;
  max-width: 235px;
  height: 100%;
  width: 100%
}

.menu-sushi {
  position: relative;
  height: 250px;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.menu-sushi--title {
  background: linear-gradient(100deg, rgba($black, 0) 50%, rgba($black, 0.8) 90%);
  color: $white;
  font-weight: $font-weight-medium;
  font-size: 1.5em;
  line-height: 1.3em;
  letter-spacing: 0.5em;
  margin: 0;
  padding-right: 10px;
  position: absolute;
  top: 50%;
  bottom: 0;
  transform: translateY(-50%);
  text-align: center;
  text-shadow: 0px 2px 6px $black;
  width: calc(100% - 10px);
  height: 100%;
  writing-mode: vertical-rl;

  small {
    letter-spacing: 0.3em;
    font-size: 0.75em;
  }
}

// Introduction

#intro {
  position: relative;

  .intro-top {
    top: -100px;
  }

  .intro-bottom {
    bottom: -100px;
    transform: scale(-1, -1);
  }

  .intro-top,
  .intro-bottom {
    position: absolute;
    left: 0;
    height: 100px;
    width: 101vw;

    @media (max-width: $breakpoint-med) {
      object-fit: cover;
    }
  }
}

// Location
.image-fill.map {
  border: 4px solid $white;

  &:hover {
    border: 4px solid $gold;
  }

  @media (max-width: $breakpoint-med) {
    height: 200px;
  }
}

// Chef

#chef {
  background: linear-gradient(180deg, rgba($brown, 0.8) 0%, rgba($brown, 0) 100%);
  padding-top: $section-spacing;
  margin-bottom: $section-spacing / 2;

  @media (max-width: $breakpoint-med) {
    background: linear-gradient(180deg, rgba($brown, 0.7) 0%, rgba($brown, 0.9) 100%), url('../images/chef.jpg') no-repeat center;
    background-size: cover;
    padding: $section-spacing 0;
  }

  hr {
    border-style: solid;
    border-width: 2px;
    margin: ($section-spacing / 3) auto;
    width: 40%;
  }
}

.image-fill {
  display: flex;
  width: 100%;
  height: 100%;

  img {
    object-fit: cover;
    max-width: 100%;
  }
}

// Sushi Detail

.sushi-detail {
  position: relative;
  border: 4px solid $white;
  height: 260px;
  @media (max-width: $breakpoint-large) {
    height: 200px;
  }

  p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 $section-spacing * 1.1;
    margin: 0;
    z-index: 1;
  }

  &--title {
    position: absolute;
    top: ($section-spacing / 4);
    left: ($section-spacing / 4);
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba($black, 0.6) 0%, rgba($black, 0.8) 100%);
    width: 100%;
    height: 100%;
  }
}

// Footer

footer {
  background: rgba($brown, 0.8);
  padding: $section-spacing / 2 0;
}

.sns {
  opacity: 0.8;
  width: 24px;
  height: 24px;
  margin: 0px 16px 8px 16px;
  transition: $transition;

  &:hover {
    opacity: 1;
  }
}
