html {
  scroll-behavior: smooth;
}

body {
  background: $bg-pattern;
  background-repeat: repeat;
  background-attachment: fixed;
}

img {
  max-width: 100%;
}

a {
  transition: $transition;

  &:hover {
    color: $gold;
  }
}
