// Display
.hidden-mobile {
  @media (max-width: $breakpoint-med) {
    display: none;
  }
}

// Graphic Elements
.background-brown {
  background: rgba($brown, 0.8);
}

.box-shadow {
  box-shadow: $box-shadow;
}

.border-left {
  padding-left: 1em;
  border-left: 3px solid $white;

  &.text-centered-mobile {
    @media (max-width: $breakpoint-med) {
      border: none;
    }
  }
}

// Spacing
.spaced-s {
  margin: ($section-spacing / 2) 0;
}

.spaced-m {
  padding: $section-spacing 0;
}

.spaced-m-mobile {
  @media (max-width: $breakpoint-med) {
    margin: $section-spacing 0;
  }
}

.spaced-m-t {
  margin-top: $section-spacing;
}

.spaced-m-b {
  margin-bottom: $section-spacing;
}

.spaced-l {
  padding: ($section-spacing * 2) 0;
}

.spaced-l-t {
  padding-top: ($section-spacing * 2);
}

.spaced-l-b {
  padding-bottom: ($section-spacing * 2);
}

// Typography

.color-gold {
  color: $gold;
}

.color-silver {
  color: $silver;
}

.tracking {
  letter-spacing: 0.4rem;
}

.line-break {
  word-break: keep-all;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.text-right {
  text-align: right;
}

.text-centered-mobile {
  @media (max-width: $breakpoint-med) {
    text-align: center;
  }
}

.sans-serif {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.small {
  font-size: 0.7em;
}

.title {
  font-size: 4em;
  letter-spacing: -0.2rem;

  @media (max-width: $breakpoint-med) {
    font-size: 2.25em;
  }
}

.title-sm {
  font-size: 2.25em;

  @media (max-width: $breakpoint-med) {
    font-size: 1.5em;
  }
}

.text-large {
  font-size: 1.5em;

  @media (max-width: $breakpoint-med) {
    font-size: 1em;
  }
}

.text {
  font-size: 1em;

  @media (max-width: $breakpoint-med) {
    font-size: 0.75em;
  }
}

// Positioning

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-reverse-stack {
  flex-wrap: wrap-reverse;
}

.flex-centered {
  align-items: center;
  justify-content: center;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

// Layout

.col-12-med {
  @media (max-width: $breakpoint-large) {
    width: 100%;
  }
}