#landing {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, rgba($brown, 0) 0%, rgba($brown, 0.6) 100%), url(../images/landing.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -2;

    @media (max-width: $breakpoint-med) {
      background: linear-gradient(180deg, rgba($brown, 0.6) 0%, rgba($brown, 0.8) 100%), url(../images/landing.jpg) no-repeat center;
    }
  }

  .row {
    @media (min-width: $breakpoint-med) {
      min-height: calc(100vh - #{$section-spacing * 2});
    }
  }
}

.landing--ribbon {
  position: relative;
  @media (min-width: $breakpoint-med) {
    padding: 1rem 0;
    margin-bottom: 1rem;
  }
  
  &::after {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, rgba($brown, 0.8) 81.53%, rgba($brown, 0) 100%);
    width: 60vw;
    height: 100%;
    right: -5vw;
    top: 0;
    z-index: -1;

    @media (max-width: $breakpoint-med) {
      display: none;
    }
  }
}

.nav-button {
  background: rgba($white, 0.1);
  padding: 2rem 0;
  margin: 1rem;
  border-radius: 0 1em 0 1em;
  flex-grow: 1;
  text-decoration: none;

  &:hover {
    background: rgba($white, 0.9);
    transform: scale(1.02);
  }
}

.logo {
  width: 100%;
  height: auto;
}