// layout
$section-spacing: 5rem;

// animation
$transition: all 0.2s ease-in;

// typography
$font-family: "Noto Serif JP", "Book Antiqua", "Palatino", "Palatino Linotype", "Palatino LT STD", "Georgia", serif;
$font-weight-light: 400;
$font-weight-medium: 600;
$font-weight-heavy: 900;
$font-height: 1.5;

// colors
$white: #ffffff;
$silver: rgba(#fafafa, 0.9);
$purple: #552244;
$brown: #786C60;
$gold: #FFB951;
$uber: #5FB709;
$black: #303032;
$bg-pattern: linear-gradient(180deg, rgba($brown, 0.3) 0%, rgba($purple, 0.3) 100%), url('/images/bg.png') repeat;

// component styles
$box-shadow: 0px 8px 16px rgba($purple, 0.3);
$box-shadow-hover: 0px 8px 16px rgba($white, 0.3);