<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= current_page.data.title %>" />
    <meta property="og:description" content="<%= current_page.data.description %>" />
    <meta property="og:locale" content="<%= current_page.data.locale %>">
    <title><%= current_page.data.title || "Sushi Haru" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= favicon_tag 'favicon.png' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
