<div class="col-3">
  <div class="menu-sushi box-shadow">
    <%= image_tag "sushi/#{img}.jpg", :alt => "#{Sanitize.clean(name)}" %>
    <p class="menu-sushi--title">
      <%= name %>
    </p>
  </div>
</div>