---
title: 「江戸前鮨 陽」Edomae-sushi Haru
description: 江戸前鮨の伝統と技術を伝えて行きたいとの思いで開店当初より江戸前鮨に特化し、挑戦しています。当店、デリバリー専門寿司店として皆様の大切な体験を作って行きます。
locale: ja_JP
---

<section id="landing" class="spaced-m">
  <div class="container">
    <div class="row flex flex-centered flex-reverse-stack">
      <div class="col-7 center">
        <div class="landing--ribbon">
          <h1 class="title-sm tracking line-break">
            宅配寿司に革命を。
          </h1>
          <h2 class="text-large line-break">
            江戸前寿司の未来を創る、<wbr>
            新たな取り組みを。<wbr>
            技をあなたの食卓まで。
          </h2>
        </div>
        <div class="flex">
          <a href="#about" class="nav-button title-sm vertical-text flex flex-centered">
            陽について
          </a>
          <a href="#location" class="nav-button title-sm vertical-text flex flex-centered">
            ご案内
          </a>
          <a href="#chef" class="nav-button title-sm vertical-text flex flex-centered">
            店主から
          </a>
        </div>
      </div>
      <div class="col-5 flex flex-centered">
        <%= image_tag 'Logo-Haru-8.png', class: 'logo' %>
      </div>
    </div>
  </div>
</section>

<section id="menu" class="spaced-l-b spaced-m-t">
  <div class="container">
    <h2 class="title-sm line-break center spaced-s">
      お品書き
    </h2>
    <div class="row">
      <%= partial "menu-sushi", locals: {img: 'haru-07', name: '<small>江戸前鮨</small><br>「恵比寿」'} %>
      <%= partial "menu-sushi", locals: {img: 'haru-08', name: '<small>江戸前鮨</small><br>「おまかせ」'} %>
      <%= partial "menu-sushi", locals: {img: 'haru-06', name: '贅沢太巻き'} %>
      <%= partial "menu-sushi", locals: {img: 'haru-01', name: '匠ばらちらし'} %>
    </div>
    <div class="row">
      <%= partial "menu-sushi", locals: {img: 'haru-05', name: '出汁巻き'} %>
      <%= partial "menu-sushi", locals: {img: 'haru-02', name: '<small>海鮮茶漬け</small><br>「真鯛」'} %>
      <%= partial "menu-sushi", locals: {img: 'haru-03', name: '<small>海鮮茶漬け</small><br>「宝船」'} %>
      <%= partial "menu-sushi", locals: {img: 'haru-04', name: '<small>海鮮茶漬け</small><br>「鮑」'} %>
    </div>
  </div>
</section>

<section id="intro" class="background-brown spaced-m">
  <div class="container">
    <div class="row flex flex-centered flex-reverse-stack">
      <div class="col-6">
        <h2 class="title-sm text-centered-mobile">
          宅配寿司に革命を。
        </h2>
        <div class="border-left text-centered-mobile" style="font-size: 1.2em">
          <p class="text">
            いつの時代も変わり続ける事なく、<br>
            世界を照らし続ける太陽のように。<br>
            ついつい微笑んでしまう<br>
            陽だまりの心地良さのように<br>
            陽<<span class="sans-serif">HARU</span>>はそんなお店を目指します。
          </p>
          <p class="text">
            江戸前鮨の職人を養成する<br>
            飲食人大学の新しい挑戦。<br>
            職人を育てるからこそ、職人が唸る鮨を。<br>
            江戸前寿司の未来を創る、新たな取り組みを。
          </p>
          <p class="text">
            宅配寿司に革命を。
          </p>
          <p class="text">
            技をあなたの食卓まで。
          </p>
        </div>
      </div>
      <div class="col-6">
        <%= image_tag 'intro.jpg', class: 'box-shadow' %>
      </div>
    </div>
  </div>
  <%= image_tag 'wave.svg', class: "intro-top" %>
  <%= image_tag 'wave.svg', class: "intro-bottom" %>
</section>

<section id="about" class="spaced-l-t">
  <div class="container">
    <h2 class="title center">
      陽について
    </h2>
    <div class="row flex flex-centered flex-reverse-stack spaced-s">
      <div class="col-6">
        <h3 class="text-large color-gold">
          店主からのご挨拶
        </h3>
        <div class="border-left">
          <p class="text line-break">
            「江戸前鮨 陽」では、江戸前鮨の技術と伝統を、<wbr>
            最新鋭冷凍技術と組み合わせることで
          </p>
          <p class="text line-break">
            鮨の未来を切り開き、明るく照らすべく、<wbr>
            デリバリーに特化し、挑戦し続けます。
          </p>
          <p class="text">
            これからも日本の詫・寂、シンプルかつ粋な日本の食文化をご提供できるよう日々精進してまいります。
          </p>
          <p class="text">
            お客様の大切なお時間に笑顔を添えられますように…
          </p>
          <p class="text">
            皆様のご注文を心よりお待ち申し上げております。
          </p>
        </div>
      </div>
      <div class="col-6">
        <%= image_tag 'about-1.jpg', class: 'box-shadow' %>
      </div>
    </div>
    <div class="row flex flex-centered flex-reverse-stack flex-row-reverse spaced-s">
      <div class="col-6">
        <h3 class="text-large color-gold">
          江戸前鮨について
        </h3>
        <div class="border-left">
          <p class="text line-break">
            冷凍技術も流通手段も発達していない時代に、<wbr>
            江戸前鮨は誕生したと言われています。
          </p>
          <p class="text line-break">
            魚介類が新鮮なうちに、加熱して「煮る」、<wbr>
            酢や塩で「締める」、たれに「漬け込む」。
          </p>
          <p class="text line-break">
            いわゆる「仕事」を施し、生よりもその魚介類の旨味を<wbr>
            凝縮させる工夫が開発された結果、素材の旨味を最大限に引き出され、
            世界に誇る「江戸前鮨」が誕生しました。
          </p>
          <p class="text">
            「旬」の素材を使い、昔ながらの「仕事」を施して作る。
            当店では江戸前鮨の伝統を重んじつつ、現代の人々の味覚や趣向にあった鮨を
            ご提供するよう心がけております。
          </p>
        </div>
      </div>
      <div class="col-6">
        <%= image_tag 'about-2.jpg', class: 'box-shadow' %>
      </div>
    </div>
    <div class="row flex flex-centered flex-reverse-stack spaced-s">
      <div class="col-6">
        <h3 class="text-large color-gold">
          江戸前鮨千陽について
        </h3>
        <div class="border-left">
          <p class="text line-break">
            千陽はミシュランビブグルマンを5年連続で獲得した<wbr>
            大阪の寿司店です。
          </p>
          <p class="text line-break">
            江戸前鮨の伝統と技術を伝えて行きたいとの思いで<wbr>
            開店当初より江戸前鮨に特化し、挑戦しています。<wbr>
            当店、陽は千陽の監修を受け、デリバリー専門寿司店<wbr>
            として皆様の大切な体験を作って行きます。
          </p>
        </div>
      </div>
      <div class="col-6">
        <%= image_tag 'about-3.jpg', class: 'box-shadow' %>
      </div>
    </div>
  </div>
</section>

<section id="location" class="spaced-m">
  <div class="container">
    <h2 class="title center">
      ご案内
    </h2>
    <div class="row flex flex-reverse-stack">
      <div class="col-6 col-12-sm">
        <p class="text-large color-gold">
          場所
        </p>
        <p class="text">
          〒150-0021<br>
          東京都渋谷区<br>
          恵比寿西1-21-3<br>
          グレイス代官山202号
        </p>
        <p class="text-large color-gold">
          営業時間
        </p>
        <p class="text">
          毎日 17:30 - 23:00
        </p>
        <p class="text-large color-gold">
          ご注文方法
        </p>
        <p class="text line-break">
          当店はデリバリー専門店です。<wbr>
          Uber Eatsを利用したお届けのみとなります。<wbr>
          <span class="top-right">右上</span><span class="bottom-right">右下</span>のUber Eatsボタンからアクセス可能です。
        </p>
      </div>
      <div class="col-6 col-12-sm">
        <% link_to 'https://goo.gl/maps/EvaJDvpjMxPGmDaa9', target: '_blank' do %>
          <div class="image-fill map">
            <%= image_tag 'location.png', class: 'box-shadow' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section id="chef">
  <div class="container">
    <h2 class="title center">
      店主から
    </h2>
    <div class="row flex">
      <div class="col-7 hidden-mobile">
        <div class="image-fill">
          <%= image_tag 'chef.jpg', class: 'box-shadow' %>
        </div>
      </div>
      <div class="col-5 col-12-sm">
        <p class="text-large line-break center">
          この度は、数ある飲食店の中から<wbr>
          「江戸前鮨 陽」をお選びいただき、<wbr>
          誠に有難うございます。
        </p>
        <p class="text-large line-break center">
          プロとして職人が<wbr>お客様の<wbr>
          大切なひと時のために<wbr>誠心誠意<wbr>
          ご提供いたします。
        </p>
        <hr>
        <div class="text-centered-mobile">
          <p class="text line-break">
            当店では、古典的な「江戸前鮨」をご提供して<wbr>
            おります。「江戸前鮨」は、冷凍による保存技術<wbr>
            がない、江戸時代に誕生しました。
          </p>
          <p class="text">
            魚介類が新鮮なうちに「煮る」、酢や塩で「締める」、タレに「漬け込む」といった仕事を施し、
            生よりも魚介類の旨味を最大限に引き出す技術を要する寿司です。
          </p>
          <p class="text line-break">
            季節によってお出しする<wbr>ネタは変わりますが<wbr>
            代表的なネタと技をご紹介します。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="sushi" class="spaced-m-b spaced-m-mobile">
  <div class="container">
    <div class="row">
      <div class="col-6 col-12-med">
        <div class="sushi-detail">
          <h3 class="sushi-detail--title title-sm vertical-text color-gold">
            漬け鮪
          </h3>
          <p class="text">
            最近では、短時間の漬け込みで提供する店が多いですが、赤身の旨味と舌触りを引き出すために、さっと霜降りをした後5時間ほど醤油だれに漬け込みます。
          </p>
          <div class="image-fill">
            <%= image_tag 'sushi/tuna.jpg', class: 'box-shadow' %>
          </div>
        </div>
      </div>
      <div class="col-6 col-12-med">
        <div class="sushi-detail">
          <h3 class="sushi-detail--title title-sm vertical-text color-gold">
            煮穴子
          </h3>
          <p class="text">
            仕込みの際に腹骨を一本ずつ処理し、極限までとろとろになるように煮ます。握る直前には笹に乗せてあぶり、香りをつけておきます。
          </p>
          <div class="image-fill">
            <%= image_tag 'sushi/anago.jpg', class: 'box-shadow' %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-12-med">
        <div class="sushi-detail">
          <h3 class="sushi-detail--title title-sm vertical-text color-gold">
            海老
          </h3>
          <p class="text">
            甘海老を殻ごと焼き、鉢に当てた後、さらに裏ごしした焼き甘えびそぼろや、黄身酢そぼろと共にお召し上がりいただきます。
          </p>
          <div class="image-fill">
            <%= image_tag 'sushi/ebi.jpg', class: 'box-shadow' %>
          </div>
        </div>
      </div>
      <div class="col-6 col-12-med">
        <div class="sushi-detail">
          <h3 class="sushi-detail--title title-sm vertical-text color-gold">
            けら焼き
          </h3>
          <p class="text">
            江戸前独特の卵焼き=けら焼きは食感をお楽しみいただくために、ケーキのようにメレンゲを作るところから始まります。つなぎの食材は一切使用せず、40分かけて焼いていきます。
          </p>
          <div class="image-fill">
            <%= image_tag 'sushi/kerayaki.jpg', class: 'box-shadow' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<aside>
  <a href='https://www.ubereats.com/ja-JP/tokyo/food-delivery/%E6%B1%9F%E6%88%B8%E5%89%8D%E9%AE%A8-%E9%99%BD-edomae-zushi-haru/4plNk-4iSEOOOdvKR-oraw/?utm_source=wok&fbclid=IwAR0aH3u9vUQXi1XSgl2QrcwayKGVGvLQDuMek38cgjIV7k9jLGVedTCI07k' target='_blank'>
    <div class="ubereats flex flex-centered">
      <%= image_tag 'ubereats.svg' %>
    </div>
  </a>
</aside>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 flex flex-centered">
        <% link_to "https://www.instagram.com/explore/locations/422904428061187/sushi-chiharu", class: 'sns', target: '_blank' do %>
          <%= image_tag 'instagram.svg' %>
        <% end %>
        <% link_to "#", class: 'sns', target: '_blank' do %>
          <%= image_tag 'facebook.svg' %>
        <% end %>
        <% link_to "#", class: 'sns', target: '_blank' do %>
          <%= image_tag 'twitter.svg' %>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="row small">
      <div class="col-6 col-12-sm text-centered-mobile sans-serif color-silver">
        〒150-0021 東京都渋谷区 恵比寿西 1-21-3 グレイス代官山202号
      </div>
      <div class="col-6 col-12-sm text-centered-mobile text-right sans-serif color-silver">
        © SUSHI HARU, All Rights Reserved.
      </div>
    </div>
  </div>
</footer>
